/* Урок 1 — Swiper.js (1.5 часа)

План урока
1. Что такое библиотека — 10 минут
2. Что такое Swiper и зачем он нужен — 10 минут
3. Подключение Swiper — 15 минут
4. Создание первого слайдера — 20 минут
5. Настройка Swiper — 20 минут
6. Практика со студентами — 15 минут
Как объяснять
1. Что такое библиотека

? Начни так:
Смотрите, когда мы пишем сайт, очень часто встречаются одинаковые задачи.
Например:
слайдеры
модальные окна
анимации
календарь
карты
И писать это каждый раз с нуля — долго.

? Потом:
Поэтому программисты создают библиотеки.
Библиотека — это готовый код, который уже кто-то написал за нас.
Мы просто подключаем её и используем.
Потом пример:
Например Swiper — это библиотека для слайдеров.
Вместо того чтобы 3 дня писать свой слайдер,
мы можем подключить Swiper за 2 минуты.

? 2. Что такое Swiper
Покажи сайты со слайдерами.
Объяснение:
Практически на каждом современном сайте есть слайдеры:
баннеры
карточки товаров
отзывы
галереи

И один из самых популярных инструментов для этого — Swiper.

? 3. Подключение Swiper
Через CDN
HTML:
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

Перед </body>:
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

? Как объяснять
CDN — это когда библиотека лежит в интернете,
а мы просто подключаем её ссылкой.ё
Браузер скачивает библиотеку и она становится доступной у нас в проекте.

? 4. Разметка Swiper
HTML:
<div class="swiper">

  <div class="swiper-wrapper">

    <div class="swiper-slide">1</div>
    <div class="swiper-slide">2</div>
    <div class="swiper-slide">3</div>

  </div>

</div>
? Как объяснять структуру
swiper
Это главный контейнер всего слайдера.

swiper-wrapper
Это обертка для всех слайдов.

Swiper будет двигать именно wrapper.

swiper-slide
Каждый отдельный слайд.

? Подключение JS
const swiper = new Swiper('.swiper')
Как объяснять
New Swiper создает новый экземпляр слайдера.

Мы говорим:
"Найди элемент с классом swiper и преврати его в слайдер".

? 5. Настройки Swiper
navigation

HTML:
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>

JS:
const swiper = new Swiper('.swiper', {
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
})
? Как объяснять
Здесь мы передаем объект настроек.
navigation отвечает за стрелки.
nextEl — кнопка вперед.
prevEl — назад.
pagination

HTML:
<div class="swiper-pagination"></div>

JS:

pagination: {
  el: '.swiper-pagination',
}
autoplay
autoplay: {
  delay: 2000,
}
slidesPerView
slidesPerView: 3,
spaceBetween
spaceBetween: 30,
Очень важный момент

Обязательно покажи документацию.

Скажи:

Программист не запоминает всё.

Главный навык —
уметь читать документацию.

Покажи:
Swiper.js Documentation

!? Практика
Задание:
Сделать:
5 карточек
стрелки
pagination
autoplay
3 карточки на экране
Что говорить во время практики

Не пытайтесь запомнить всё.
Сейчас важно понять:
как подключается библиотека
как читать документацию
как настраивать готовые решения */

/*! =============================================================== */
/*! =============================================================== */
/*! =============================================================== */

/*? 1. Что такое Tailwind

Начни так:
Обычно CSS мы пишем так:
.card {
  width: 300px;
  padding: 20px;
  background: black;
}

Потом:
Tailwind работает иначе.
Мы почти не пишем CSS файлы.
Мы сразу пишем классы в HTML. */

/*?  Пример
<div class="w-[300px] p-5 bg-black text-white">
  Card
</div> */

/*?  Как объяснять
w-[300px]
width 300px

p-5
padding

bg-black
background black

text-white
белый текст */

/*?  2. Utility-first

Tailwind состоит из маленьких utility-классов.
Один класс = одно действие. */

/*? Почему Tailwind стал популярным
Объяснение:

Потому что:
быстро
меньше CSS
легче поддерживать
удобно делать адаптив */

/*?  3. Подключение
Покажи CDN:
<script src="https://cdn.tailwindcss.com"></script> */

/*? 4. Практика

Сделать карточку.
HTML:
<div class="w-[300px] bg-white rounded-2xl p-5 shadow-lg">
  <img class="rounded-xl" src="" alt="">
  
  <h2 class="text-2xl font-bold mt-4">
    Product
  </h2>

  <p class="text-gray-500 mt-2">
    Description
  </p>

  <button class="bg-black text-white px-5 py-2 rounded-lg mt-4">
    Buy
  </button>
</div> */

/*?  Responsive
<div class="text-sm md:text-xl">
Как объяснять
md:
означает:
"начиная с tablet размера" */

/*?  Практика
Сделать:
карточку
адаптив
hover
flex
grid */

/*! =============================================================== */
/*! =============================================================== */
/*! =============================================================== */
